.filters, #annonce_h2 {
    padding: 8px;
}

.searchBar_offersResults {
    background-color: #EBAF00;
    padding: 1.2rem 1rem;
}

.searchBar_offersResults > .search_bar {
    width: 70%;
    padding: 2px 4px;
    border-radius: 32px;
}

@media (min-width: 620px) {
    .filters {
        display: flex;
    }

    .filter {
        padding: 8px;
    }

    .searchBar_offersResults {
        padding: 3rem;
    }

    .searchBar_offersResults > .search_bar {
        margin-top: -475px;
        margin-left: -20px;
        padding: 6px;
        width: 30%;
    }

    .searchBar_offersResults > .search_bar > #search_btn {
        margin-right: 0;
        padding: 10px 8px;
    }
}
