* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.annonceDetailsTitle {
  background-color: var(--color-orange);
  height: 100px;
  width: 100%;
  text-align: center;
  padding-top: 1.5rem;
}

.annonceDetailsTitle > h2 {
  color: var(--color-bleu-foncé);
  font-weight: bolder;
  font-size: xx-large;
}

.annonce_details_date {
  color: gray;
  margin: 1rem;
}

.annonceDetailsBody {
  margin: 1rem;
}

.details > h3 {
  margin-top: 24px;
  color: var(--color-bleu-foncé);
}

.details > img {
  margin: 8px 0;
  width: 100%;
}

.motivationText {
  width: 100%;
  height: 38rem;
  margin: 40px auto 25px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  text-align: center;
  background-color: #efefef;
}

.motivationText > h3,
#offre,
#optionnel {
  margin: 12px;
}

#optionnel {
  font-size: 12px;
  text-align: start;
}

form > input {
  background-color: black;
  color: white;
  padding: 1rem 0;
  width: 76%;
  font-weight: bold;
  font-size: 16px;
}

@media (min-width: 620px) {
  .annonce_details {
    width: 100%;
  }

  .annonceDetailsBody {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    margin: 8px 24px;
  }

  .details {
    width: 55%;
    margin: 0px 8px;
  }

  .motivationText {
    width: 30%;
    height: 65vh;
    margin-top: 10px;
  }

  #motivations {
    height: 30vh;
    width: 100%;
  }

  form > input {
    width: 100%;
    padding: 8px;
  }
}
