.filters,
#annonce_h2 {
  padding: 8px;
}
.searchBar_offersResults {
  background-color: var(--color-orange);
  padding: 1.2rem 1rem;
}

.searchBar_offersResults > .search_bar {
margin-left: 20px;
}


@media (min-width: 620px) {
  .filters {
    display: flex;
  }

  .filter {
    padding: 8px;
  }

  .AnnonceSearchPage {
    display: flex;
    flex-direction: column;
  }
  .searchBar_offersResults {
    padding: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: none;
  }

}
