@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&family=Orelega+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --font-family-1: "Open Sans";
  --font-family: "Orelega One",serif;
  --color-orange: #f5b800;
  --color-orange-foncé: #fb8500;
  --color-bleu-inter: #219ebc;
  --color-bleu-clair: #99c9e6;
  --color-bleu-foncé: #112f47;
  --color-background-gris: #efefef;
  --color-text: #122529;
  --color-text-clair: #f8f9fa;
}