* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.dashbord_company {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.applicationDetailCard {
  flex-direction: column;
  display: flex;
  background-color: var(--color-background-gris);
  margin-top: 30px;
  padding: 5%;
  margin: 30px 15px 15px 15px;
  align-items: center;
}
.applicationDetailCard > button {
  background-color: var(--color-bleu-foncé);
  color: var(--color-text-clair);
  border-radius: 20px;
  width: 40%;
  height: 2rem;
  margin: 6px 6px;
}
