

/*content Dashbordcompany */

/*.publish_offer {
  width: 80%;
  height: 85vh;
  background-color: var(--color-background-gris);
  margin: 40px;
  gap: 20px;
}
.publish_offer > form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.publish_offer > form > input {
  width: 75%;
  border: none;
  height: 1.5rem;
  margin-bottom: 30px;
}

.publish_offer > form > label {
  font-style: italic;
  padding-bottom: 5px;
}

.publish_offer > form > button {
  background-color: var(--color-bleu-foncé);
  color: var(--color-text-clair);
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 20px;
  height: 2rem;
  width: 60%;
}
.publish_offer > form > .big_label {
  height: 7rem;
  width: 100%;
  border: none;
  margin-bottom: 20px;
}

@media (min-width: 620px) {

  .dashbord_company{
    display: flex;
   height: 80vh;
   width: 90%;
   margin:60px;
   gap:30px;
   border: 2px solid red;
}

.nav_dashbord_company{
    background-color: aqua;
    width: 30%;
}
.publish_offer{
    background-color: blueviolet;
    width: 70%;
}
}*/