* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  background-color: var(--color-bleu-foncé);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.paragraphs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 2rem 4rem 2rem;
  text-align: center;
}

.logo {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoSTJ {
  padding-top: 20px;
  padding-bottom: 10px;
  width: 70%;
}

.nosOffres,
.aPropos {
  color: var(--color-text-clair);
}

.aPropos {
  margin-top: 30px;
}

.nosOffres > h2 {
  font-size: 20px;
  font-weight: bolder;
  padding-bottom: 5px;
}
.nosOffres > p {
  font-size: 14px;
  padding-top: 7px;
}

.aPropos > h2 {
  font-size: 20px;
  font-weight: bolder;
  padding-bottom: 5px;
}
.aPropos > p {
  font-size: 14px;
  padding-top: 7px;
}

/*Partie Newsletter*/

.divNewsLetter {
  justify-content: center;
  background-color: var(--color-orange);
  height: fit-content;
  width: 85%;
  margin-top: 4rem;
  height: 30%;
}
.divNewsLetter > form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.divNewsLetter > h3 {
  font-size: 1rem;
  padding: 12px;
}
.divNewsLetter > p {
  text-align: justify;
  font-size: 0.6rem;
  padding: 0 8px;
  padding-bottom: 5px;
}

.firstInput {
  height: 30px;
  width: 150px;
  border: none;
  font-size: 10px;
  padding-left: 3px;
  background-color: var(--color-text-clair);
  color: var(--color-text);
}

.valider {
  background-color: var(--color-text);
  color: var(--color-text-clair);
  font-weight: bold;
  height: 30px;
  width: 100px;
  padding-top: 5px;
 cursor: pointer;
}

@media (min-width: 620px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .paragraphs {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer_links {
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: none;
  }

  .nosOffres,
  .aPropos {
    margin: 0 auto;
    text-align: justify;
  }
  .aPropos {
    margin-left: 100px;
  }

  .divNewsLetter {
    width: 30%;
    height: 40%;
    margin: 0 auto;
    margin-left: 500px;
    padding: 1.5rem;
  }
  .firstInput {
    height: 30px;
    width: 200px;
    font-size: 0.8rem;
    border: none;
  }
  .valider {
    height: 30px;
    width: 130px;
  }
  .divNewsLetter > h3 {
    font-size: 1.3rem;
  }
  .divNewsLetter > p {
    font-size: 0.7rem;
  }
  .logo {
    margin: 1px;
  }
}
