* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.principal_monespace {
  display: flex;
  margin:20px;
  width: 90%;
}

.fmonespace {
  display: flex;
  flex-direction: column;
  width: 180%;
padding: 20px;
  font-style: italic;
  text-align: left;
  background-color: var(  --color-background-gris);
}
.fmonespace input {
  padding: 5px;
  border: none;
  margin-top: 2rem;
  background-color:var( --white);
width: 70%;
}

.btn_monespace {
  background-color:var( --color-orange);
  border-radius: 20px;
  padding: 5px;
  border: none;
  cursor: pointer;
  outline: none;
}
.btn_monespace:hover{
  transform: translateY(3px);
  box-shadow: 0 3.5px  #d8d6d6;
}
.btn_monespace:active{
  transform: translateY(4px);
  box-shadow: 0 2px  #d8d6d6;
}


.button_monespace {
  display: flex;
  justify-content: left;
  margin-top: 40px;
}
@media (min-width: 620px) {
  .principal_monespace {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .fmonespace {
  
   width: 80vh;
   height: 80vh;

  }
  .fmonespace input {
    padding: 10px;
    width: 80%;
    border: none;
    background-color:var(--white);
    border-radius: 8px;
    margin-bottom: 30px;
  }
  .comb_nom {
    display: flex;
    justify-content: space-between;
  }
  .Nom {
    width: 70%;
  }
  .Prenom {
    width: 70%;
  }
  .btn_monespace {
    background-color:var(--color-orange);
    border-radius: 20px;
    padding: 10px;
    margin-top: 3rem;
    width: 30%;
  }
  .fcontainer {
    display: flex;
    flex-direction: row;
  }
  .button_monespace {
    display: flex;
    justify-content: left;
    border-radius: 20px;
  }
  .centered-dashcandidatecomponents{
    width: 70%;
    padding-top: 80px;
    width: 130vh;
    height: 100vh;
    margin: 30px 30px 30px 0px;
    background-color:var(--color-background-gris) ;
  }
}
