* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .dashbord_company {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .contentmyoffers {
    flex-direction: column;
    display: flex;
    background-color: var(--color-background-gris);
    margin-top: 30px;
    padding: 5%;
    margin: 30px 15px 15px 15px;
  }

  @media (min-width: 620px) {
    .dashbord_company {
      display: flex;
      flex-direction: row;
    }
    .contentmyoffers {
      padding-top: 100px;
      width: 130vh;
      height: 100vh;
      margin: 30px 30px 0px 0px;
    }
}