.nav_dashbord_company {
  display: flex;
  background-color: var(--color-background-gris);
  width: 100%;
}

.ul_dashbord_company {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  height: 100px;
  padding: 40px 0;
  line-height: 40px;
}

.ul_dashbord_company a {
  color: var(--color-text);
  padding: 5px;
  line-height: 10px;
}

.ul_dashbord_company a:hover {
  font-weight: bolder;
  color: var(--color-text);
}

.middle:hover {
  position: relative;
}

.middle:hover::after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: 70%;
  width: 30%;
  border-bottom: 3px solid var(--color-orange-foncé);
}

@media (min-width: 620px) {
  .nav_dashbord_company {
    justify-content: center;
    margin: 30px;
    width: 30%;
  }

  .ul_dashbord_company {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    background-color: var(--color-background-gris);
    height: 95vh;
    width: 100%;
  }
  .espace_entreprise {
    padding-bottom: 50px;
  }
  .gerer_son_compte {
    margin-top: 50px;
  }
  .middle:hover {
    border-left: 3px solid var(--color-orange-foncé);
  }
  .middle:hover::after {
    border-bottom: none;
  }
}
