.registerCandidate {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family-1);
}

.imgRegisterWoman {
  background-image: url(../assets/images/woman.png);
  background-size: cover;
  height: 200px;
  width: 100%;
}

.formRegisterCandidate {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: var(--color-background-gris);
  width: 80%;
  
}

.formRegisterCandidate > h2 {
  margin: 0 auto;
  padding: 1.3rem;
  font-size: 1.5rem;
  font-weight: 1200;
}

.formRegisterCandidate > form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.formRegisterCandidate > form > label {
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.formRegisterCandidate > form > input {
  padding: 10px;
  border: none;
  font-style: italic;
  margin-bottom: 25px;
  border: 1px solid var(--color-orange);
}

.formRegisterCandidate > form > p {
  font-size: 0.8rem;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 0.7rem;
}

.formRegisterCandidate > form > p > span {
  color: var(--color-bleu-inter);
}

.formRegisterCandidate > form > button {
  background-color: var(--color-orange);
  color: var(--color-text);
  font-weight: bolder;
  border-radius: 20px;
  padding: 10px;
  border: none;
  margin-bottom: 20px;
}
.formRegisterCandidate > form >label {
  padding-left: 5px;
}
.messages {
font-weight: bolder;
}

@media (min-width: 620px) {
  .registerCandidate {
    background-image: url(../assets/images/woman.png);
    display: flex;
    flex-direction: row;
  }

  .imgRegisterWoman {
    background-image: none;
  }

  .formRegisterCandidate {
    width: 50%;
    margin-right: 8rem;
  }

  .formRegisterCandidate > form > button {
    padding: 10px;
  }
}
