* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.register_form {
  gap: 0.5rem;
  display: flex;
  background-color: #EFEFEF;
  text-align: center;
  width: 90%;
  height: 45rem;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
}

.imgregistercompany {
  width: 100%;
  height: auto;
}

.h2registercompany {
  margin: 8px 0px 40px;
  font-weight: bold;
  font-size: 32px;
}

.register_form input {
  background-color: white;
  margin-bottom: 1rem;
  width: 85%;
  height: 50px;
  border: none;
  padding: 15px 20px;
}

.pregistercompany {
  width: 85%;
  margin: 4px 0;
}

#seConnecter {
  color: #479DBC;
  font-weight: bold;
}

.CGU {
  color: #479DBC;
}

@media (min-width: 620px) {
  .espace_connexion_entreprise {
      min-height: 100vh;
      background-image: url(../assets/images/inscription_entreprise.png);
      display: flex;
      background-size: cover;
      justify-content: flex-end;
      align-items: center;
      padding: 0 50px;
  }

  .register_form {
      max-width: 35rem;
  }


  .register_form input {
      width: 80%;
  }

  .imgregistercompany {
      display: none;
  }
}
