.dashboardcompany {
  display: flex;
  flex-direction: column;
}

.contentspacecompany {
  background-color: var(--color-background-gris);
  width: 90%;
  margin: 0 auto;
}

.publish_form_input {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 0 0 20px;
  font-style: italic;
  border: 2px solid black;
}

.btnSpaceCompany {
  background-color: var(--color-bleu-foncé);
  color: var(--color-text-clair);
  border-radius: 20px;
  width: 70%;
  height: 2rem;
  margin: 15px 40px;
}

@media (min-width: 620px) {
  .dashbordcompany {
    display: flex;
    flex-direction: row;
  }
  .contentspacecompany {
    padding-top: 100px;
    width: 100vh;
    height: 100vh;
    margin: 30px 30px 0px 0px;
  }

  .btnSpaceCompany {
    margin-top: 20px;
    height: 2rem;
    width: 40%;
  }
}
